* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Mukta', sans-serif;
    height: 100%;
    font-size: 1rem;
    background-color: #19181D;
    color: white;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.sr-only {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}

header {
    position: sticky;
    top: 0;
}

.header {
    background-color: #19181D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-desktop {
    display: none;
}

.header-mobile {
    width: 100%;
}

.nav-container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    height: 62px;
    display: block;
}

.header-mobile .menu-items {
    display: flex;
}

.header-mobile .nav-container li {
    list-style: none;
}

.header-mobile .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.header-mobile .nav-container a:hover {
    font-weight: bolder;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

.header-mobile .menu-items {
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    background-color: #19181D;
}

.header-mobile .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    right: 15px;
    font-size: 1.2rem;
    color: white;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}


@media (min-width: 780px) {
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: flex;
        width: 100%;
        padding: 0 1.3rem;
    }

    .left-part-header ul,
    .right-part-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        font-weight: 500;
    }

    .left-part-header li:hover {
        border-bottom: 1px solid white;
    }

    .reservation {
        border: 1px solid white;
        padding: 0.5rem;
        transition: background-color .8s;
    }

    .reservation:hover {
        color: #19181D;
        background-color: white;
    }
}

.visit-section {
    background: linear-gradient(180deg, rgba(25, 24, 29, 1) 5%, rgba(25, 24, 29, 0.6054796918767507) 50%, rgba(25, 24, 29, 1) 95%), url(images/back.jpg) center / cover no-repeat border-box, #3f3f3f;;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visit-section-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.visit-section-text span {
    display: inline-block;
    font-family: 'Bevan', sans-serif;
    letter-spacing: 3px;
    font-size: 5vw;
}

.visit-section-photos {
    width: 7%;
    border-radius: 45px
}

.reservation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
}

.reservation-section h2 {
    width: fit-content;
}

.reservation-section > div {
    width: 500px;
}

.reservation-map {
    height: 656px;
    margin: auto;
    max-width: 350px;
    border: 1px white solid;
    position: relative;
}

.tables {
    background-color: lightgrey;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #19181D;
}

.round-tables {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.round-tables-1 {
    top: 197px;
    right: 124px;
}

.round-tables-2 {
    top: 347px;
    right: 124px;
}

.large-tables {
    width: 120px;
    height: 60px;
    border-radius: 16px;
}

.large-tables-1 {
    top: 58px;
    right: 190px;
}

.large-tables-2 {
    top: 58px;
    right: 31px;
}

.large-tables-3 {
    top: 526px;
    right: 190px;
}

.large-tables-4 {
    top: 526px;
    right: 31px;
}

.small-tables {
    width: 50px;
    height: 65px;
    border-radius: 10px;
}

.small-tables-1 {
    top: 173px;
    right: 287px;
}

.small-tables-2 {
    top: 291px;
    right: 287px;
}

.small-tables-3 {
    top: 410px;
    right: 287px;
}

.small-tables-4 {
    top: 173px;
    right: 12px;
}

.small-tables-5 {
    top: 291px;
    right: 12px;
}

.small-tables-6 {
    top: 410px;
    right: 12px;
}

.reservation-map label:hover {
    background-color: white;
}

.reservation-map input:checked + label {
    background-color: #efa500;
    color: white;
}

